
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="min-height: 63%;">
    <div class="container text-center p-3 mt-3" style="border:1px solid #e53637; border-radius: 0.5rem">
        <h2 style="color: #ffffff">Your order is completed!</h2>
        <p style="color: #ffffff">You will be receiving a confirmation and detail of your order</p>
        <div class="btn-cart"><a href="/" style="color: #ffffff">Back to Homepage</a></div>
    </div>
</div>

