
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="min-height: 63%;">
    <h2 style="margin-top: 2rem; color: #ffffff">Frequently asked questions</h2>
    <div id="accordion" style="margin-top: 2rem; margin-bottom: 3rem;">
        <!-- Question One for EasyTicket -->
        <div class="card" style="background-color: transparent; border :1px solid #e53637; color: #ffffff">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne" style="color: #e53637">
                        1. Can I cancel my booking?
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    If your booking is non-refundable you cannot cancel. If your booking is free cancellation or partially refundable, check
                    your confirmation email or confirmation page in the Bookings section of your account for the cancellation costs.
                </div>
            </div>
        </div>
        <!-- Question Two for EasyTicket -->
        <div class="card" style="background-color: transparent; border :1px solid #e53637; color: #ffffff">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo" style="color: #e53637">
                        2. Can I make changes to my booking?
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    It's not possible to make any changes to your booking. This includes actions like changing the stay dates, guest name or
                    email address.
                </div>
            </div>
        </div>
        <!-- Question Three for EasyTicket -->
        <div class="card" style="background-color: transparent; border :1px solid #e53637; color: #ffffff">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree" style="color: #e53637">
                        3. Why was my booking cancelled or declined
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Because this booking is facilitated by a partner company, the property may be overbooked. If that's the case, the
                    partner notifies us. Next, we refund you and cancel your booking.

                    The processing time may take 7 to 10 days and depends on your bank. If you have questions, contact your bank directly.
                </div>
            </div>
        </div>
        <!-- Question Four for EasyTicket -->
        <div class="card" style="background-color: transparent; border :1px solid #e53637; color: #ffffff">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour" style="color: #e53637">
                        4. Can i extend a time limit for my booking
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    No. Time limit extensions are not permitted on QR bookings.
                </div>
            </div>
        </div>
        <!-- Question Five for EasyTicket -->
        <div class="card" style="background-color: transparent; border :1px solid #e53637; color: #ffffff">
            <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive" style="color: #e53637">
                        5. Can i request for special meal, chair?
                    </button>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                    Yes but it should be asked one week before the event and we do not sure that the requirement can be accepted, it depends on many things
                </div>
            </div>
        </div>
        <!-- Question Six for EasyTicket -->
        <div class="card" style="background-color: transparent; border :1px solid #e53637; color: #ffffff">
            <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseSix" style="color: #e53637">
                        6. Can I buy concession combo online?
                    </button>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                    No. You can only buy My Combo offline and receive on showing day at cinema.
                </div>
            </div>
        </div>
        <!-- Question Seven for EasyTicket -->
        <div class="card" style="background-color: transparent; border :1px solid #e53637; color: #ffffff">
            <div class="card-header" id="headingSeven">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"
                            aria-expanded="false" aria-controls="collapseSeven" style="color: #e53637">
                        7. Can I accumulate points when I use vouchers?
                    </button>
                </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                <div class="card-body">
                    Sorry but vouchers are not entitled for membership program.
                </div>
            </div>
        </div>
        <!-- Question Eight for EasyTicket -->
        <div class="card" style="background-color: transparent; border :1px solid #e53637; color: #ffffff">
            <div class="card-header" id="headingEight">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight"
                            aria-expanded="false" aria-controls="collapseEight" style="color: #e53637">
                        8. Can I purchase movie tickets online using vouchers?

                    </button>
                </h5>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                <div class="card-body">
                    No. we don't have voucher yet
                </div>
            </div>
        </div>
        <!-- Question Number for EasyTicket -->
        <div class="card" style="background-color: transparent; border :1px solid #e53637; color: #ffffff">
            <div class="card-header" id="headingNumber">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNumber"
                            aria-expanded="false" aria-controls="collapseNumber" style="color: #e53637">
                        9. Is Friday "weekday" or "weekend"?
                    </button>
                </h5>
            </div>
            <div id="collapseNumber" class="collapse" aria-labelledby="headingNumber" data-parent="#accordion">
                <div class="card-body">
                    EasyTicket counts weekdays from Monday to Thursday, and Friday – Sunday as weekends.
                </div>
            </div>
        </div>
    </div>
</div>

